
PING ya.ru (213.180.193.3) 56(84) bytes of data.
<br />
64 bytes from www.yandex.ru (213.180.193.3): icmp_req=1 ttl=51 time=17.0 ms
<br />
64 bytes from www.yandex.ru (213.180.193.3): icmp_req=2 ttl=51 time=17.2 ms
<br />
64 bytes from www.yandex.ru (213.180.193.3): icmp_req=3 ttl=51 time=17.3 ms
<br />
64 bytes from www.yandex.ru (213.180.193.3): icmp_req=4 ttl=51 time=16.7 ms
<br />

<br />
--- ya.ru ping statistics ---
<br />
4 packets transmitted, 4 received, 0% packet loss, time 3003ms
<br />
rtt min/avg/max/mdev = 16.776/17.102/17.304/0.244 ms
<br />
